body{
    margin: 0px;
    font-family: "Mona Sans", sans-serif;
    font-size: 14px;
}
#menu {
    padding-top: 10px;
    display: none;
    }
#menu div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
    margin-right: 20px;
    border-radius: 3px;
}
nav img{
    height: 50px;
    margin-right: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    background-color: white;
    margin-top: 0px;
    padding: 10px 20px;
}
.navcontainer1, #divbox, .footitems, .divisione{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav div a{
    padding: 0px 16px;
    font-weight: bold;
}
nav div a:hover{
    color: rgb(88, 88, 88);
}
.navcontainer2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#login{
    color: white;
    background-color: #0d0c22;
    padding: 10px 24px;
    border-radius: 500px;
}
#login:hover{
    background-color: #3c3a44;
}
#frase1{
    font-size: 32px;
    font-family: "Source Serif 4", serif;
}
#frase2{
    font-size: 18px;
}
#presentazione{
padding: 50px;
margin-top: 40px;
padding-bottom: 20px;
text-align: center;
}
#boxricerca{
    background-color: rgba(232, 231, 231, 0.732);
    border: 3px solid rgba(232, 231, 231, 0.732);
    border-radius: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
#boxricerca:hover{
    background-color: white;  
    border: 3px solid rgba(252, 181, 233, 0.7);
    
}
#domandabox{
    margin-left: 15px;
    flex-grow: 1;
    text-align: left;
}
#immagine1{
    margin-left: 15px;
    background-color: hotpink;
    padding: 10px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#immagine1 img{
    margin: auto;
    height: 20px;
}
#barra2{
    display: flex;
    justify-content: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
}
#barra2 a{
    border: 1px solid rgba(219, 218, 218, 0.708);
    background-color: rgb(224, 224, 224);
    padding: 5px 10px;
    border-radius: 500px;
    margin: 10px 5px;
}
#barra2 a:hover{
    background-color: white;
}
#trend{
    color: rgb(118, 118, 118);
    padding: 5px 10px;
    margin: 10px 5px;
    font-weight: 400;
}

#barra3{
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#barra3 a{
    padding: 5px 10px;
    margin: 10px 5px;
}
#barra3 a:hover{
    color: rgb(88, 88, 88);
}
#main{
    width:85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.post{
    height: 250px;
    width: 20%;
    background-image: url(https://kinsta.com/it/wp-content/uploads/sites/2/2020/10/tipos-de-arquivo-de-imagem.png);
    background-size: cover;
    border-radius: 10px;
    margin: 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}
.post p{
    color: white;
    font-weight: bold;
    margin: 8px 0px;
    margin-left: 8px;
    flex-grow: 1;
    text-align: left;
    font-size: 16px;
}
.post div{
    background-color: white;
    padding: 10px;
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    margin: 0px 5px;
}
.post div:hover{
    background-color: rgb(198, 198, 198);
}
.post img{
    height: 20px;
}
#post0{
   background-image: url(Colline.jpg);
}
#post2{
   background-image: url(mare.webp);
}
#post3{
   background-image: url(fuxia.webp);
}
#post4{
    background-image: url(fuxia.webp);
}
#post5{
    background-image: url(pianeti.webp);
}
#post7{
    background-image: url(barca.jpg);
}
.laterale img{
    height: 60px;
    margin-right: 20px;
}
.footcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
    padding: 0px 50px;
}
.centrale{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    flex-grow: 1;
}
.centrale a{
    margin: 0px 10px;
}
.laterale2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.laterale2 img{
    height: 20px;
    margin: 5px;
}
.footitems a{
    color: rgb(139, 139, 139);
    font-size: 14px;
    margin: 0px 10px;
}
@media (max-width: 958px) {
    .post{
        width: 27%;
    }
    .centrale{
        flex-direction: column;
        margin: 10px 0px;
    }
    .centrale a{
        margin-bottom: 10px;
    }
}
@media (max-width: 760px) {
    #menu{
    display: block;
    }
    .navcontainer1 a, #domandabox, #barra2 a{
        display: none;
    }
    #boxricerca{
        width: 100%;
        justify-content: flex-end;
        margin-top: 40px;
        margin-bottom: 0px;
    } 
    #main {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .post {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
    }
    .footcontainer{
        flex-direction: column;
    }
    #barra3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    #barra3 a{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #trend{
        margin-top: 20px;
    }
}